defaults
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

frontend rinha-frontend
  bind *:9999
  default_backend rinha-backend

backend rinha-backend
  balance roundrobin
  server api-1 api-1:9999 check
  server api-2 api-2:9999 check
